@charset "ISO-8859-1";

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    /* Colores */
    --primer-color: #7380ec;
    --color-rojo: #ff7782;
    --color-verde: #41f1b6;
    --color-amarillo: #ffbb55;
    --color-blanco: #fff;
    --color-semi-negro: #7d8da1;
    --color-semi-blanco: #dce1dc;
    --color-negro:#363949;
    --color-ligero: rgba(132, 139, 200, 0.18);
    --primer-color-variante: #111e88;
    --color-negro-variante: #677483;
    --color-fondo: #f6f6f9;

    /* Bordes */
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    
    /* Rellenos */
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    
    /* Sombra */
    --box-shadow: 0 2rem 3rem var(--color-ligero);
}



html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background-color: var(--color-fondo);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-negro);
}

.contenedor{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 0rem;
}

a {
    color: var(--color-negro);
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;

    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 0.87rem;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color: var(--color-semi-negro);
}

p{
    color: var(--color-negro-variante);
}

b{
    color: var(--color-negro);
}

.primary{
    color: var(--primer-color);
}

.danger{
    color: var(--color-rojo);
}

.success{
    color: var(--color-verde);
}

.warning{
    color: var(--color-amarillo);
}

aside{
    height: 100vh;
}

aside .arriba{
    background: var(--color-blanco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo{
    display: flex;
    gap: 0.8rem;
}

aside .logo img{
    width: 2rem;
    height: 2rem;
}

aside .cerrar{
    display: none;
}

/*----------------- Barra menú --------------*/
aside .barraMenu{
    background: var(--color-blanco);
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3{
    font-weight: 500;
}

aside .barraMenu a{
    display: flex;
    color: var(--color-semi-negro);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .barraMenu a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .barraMenu a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .barraMenu a.active {
    background: var(--color-ligero);
    color: var(--primer-color);
    margin-left: 0;
}

aside .barraMenu a.active:before{
    content: '';
    width: 6px;
    height: 100%;
    background: var(--primer-color);
}

aside .barraMenu a.active span{
    color: var(--primer-color);
    margin-left: calc(1rem - 3px);
}

aside .barraMenu a:hover{
    color: var(--primer-color);
}

aside .barraMenu a:hover span{
    margin-left: 1rem;
}

aside .barraMenu .cuenta-mensaje{
    background: var(--color-rojo);
    color: var(--color-blanco);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/* ---------- Main ---------- */
main{
    margin-top: 1.4rem;
}






/* ------------------ Izquierda --------------- */

.right{
    margin-top: 1.4rem;
}

.right .top{
    float: right;
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right .top button{
    display: none;
}

.right .theme-toggler{
    background: var(--color-ligero);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right .theme-toggler span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler span.active{
    background: var(--primer-color);
    color: white;
    border-radius: var(--border-radius-1);
}

.right .top .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}

/* ------------- Actualizaciones recientes -------------- */
.right .actualizacion-reciente{
    margin-top: 1rem;
}

.right .actualizacion-reciente h2{
    margin-bottom: 0.8rem;
}

.right .actualizacion-reciente .actualizaciones{
    background: var(--color-blanco);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .actualizacion-reciente .actualizaciones:hover{
    box-shadow: none;
}

.right .actualizacion-reciente .actualizaciones .actualizacion{
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* ------------------ Análisis de ventas ----------------- */
.right .analisis-ventas{
    margin-top: 2rem;
}

.right .analisis-ventas h2{
    margin-bottom: 0.8rem;
}

.right .analisis-ventas .item{
    background: var(--color-blanco);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .analisis-ventas .item:hover{
    box-shadow: none;
}

.right .analisis-ventas .item .right{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.right .analisis-ventas .item .icono{
    display: flex;
    padding: 0.6rem;
    color: var(--color-blanco);
    border-radius: 50%;
    background: var(--primer-color);
}

.right .analisis-ventas .item.offline .icono{
    background: var(--color-rojo);
}

.right .analisis-ventas .item.customers .icono{
    background: var(--color-verde);
}

.right .analisis-ventas .add-product{
    background-color: transparent;
    border: 2px dashed var(--primer-color);
    color: var(--primer-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .analisis-ventas .add-product:hover{
    background: var(--primer-color);
    color: var(--color-blanco);
    cursor: pointer;
    border: 2px solid var(--color-blanco);
}

.right .analisis-ventas .add-product div{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.right .analisis-ventas .add-product div h3{
    font-weight: 500;
}

/* --- Adaptación a otros dispositivos electrónicos --- */
@media screen and (max-width: 1200px) {
    .contenedor{
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .logo h2{
        display: none;
    }

    aside .barraMenu h3{
        display: none;
    }

    aside .barraMenu a{
        width: 5.6rem;
    }

    aside .barraMenu a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights{
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .orden-reciente{
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }

    main .orden-reciente table{
        width: 83vw;
    }
    
    main table thead tr th:last-child,
    main table thead tr th:first-child {
        display: none;
    }

    main table tbody tr td:last-child,
    main table tbody tr td:first-child {
        display: none;
    }
}

@media screen and (max-width: 768px){
    .contenedor {
        width: 100%;
        grid-template-columns: 1fr;
    }
    aside{
        position: fixed;
        left: -100%;
        background: var(--color-blanco);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-ligero);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes  showMenu {
        to{
            left: 0;
        }
    }

    aside .logo{
        margin-left: 1rem;
    }

    aside .logo h2{
        display: inline;
    }

    aside .barraMenu h3{
        display: inline;
    }

    aside .barraMenu a{
        width: 100%;
        height: 3.4rem;
    }
    
    aside .barraMenu a:last-child{
        position: absolute;
        bottom: 5rem;
    }

    aside .cerrar{
        display: inline-block;
        cursor: pointer;
    }

    main {
        margin-top: 8rem;
        padding:  0 1rem;
    }

    main .orden-reciente{
        position: relative;
        margin: 0 0 0 0;
        width: 100%;
    }

    main .orden-reciente table{
        width: 100%;
        margin: 0;
    }

    .right{
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right .top{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-blanco);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-ligero);
    }

    .right .top .theme-toggler{
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .right .profile .info{
        display: none;
    }

    .right .top button{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-negro);
        position: absolute;
        left: 1rem;
    }

    .right .top button apn{
        font-size: 2rem;
    }
}



p{
  font-size: 16px;
  margin-bottom: 10px;
}
#form-register {
  width: 400px;
  background: rgba(132, 139, 200, 0.18);
  padding: 30px;
  margin-top: 30px;
  margin-left: 40px;
  border-radius: 15px;
  font-family: 'calibri';
  box-shadow: 7px 13px 37px #000;
}

.contact-title{
	font-size: 25px;
	COLOR: #677483;
	
}

.controls {
  width: 100%;
  background: white;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: rgba(132, 139, 200);
}
.controls2 {
  width: 100%;
  background: rgba(132, 139, 200);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: WHITE;
}